/* google-font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+DE+VA:wght@100..400&display=swap");
.font-family {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(17, 17, 17);
}
.max-width {
  max-width: 1060px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}
.primary-color {
  color: #ffffff;
}
.logo a {
  color: rgb(230, 83, 60);
  font-style: italic;
  font-size: 2.12rem;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
h2 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
}
h5 {
  color: #ffffff;
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 120%;
}
p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 20px 0;
}
.btn {
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  color: #ffffff;
  font-size: 1.12rem;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(17, 17, 17);
  margin: 20px 0px;
  margin-right: 20px;
  transition: 0.5s;
}
.btn:hover {
  background: rgb(230, 83, 60);
  border: 1px solid rgb(230, 83, 60);
}
/* nav-ber styles */
/* #nav-banner-part {
  background-color: rgb(17, 17, 17);
} */
.nav-bar {
  /* max-width: calc(100% - 50px); */
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 12px 20px;
  margin: 0 auto;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

.menu li {
  margin-left: 30px;

  border-radius: 46px;
}
.menu li a {
  display: inline-block;
  text-align: center;
  transition: all 0.15s ease-in-out;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 400;
  padding: 8px 20px 8px 20px;
}
.menu li a:hover,
.active {
  border-radius: 46px;
  background: rgb(230, 83, 60);
}
.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}

/* banner-part-styles */
.banner-part-content {
  justify-content: space-between;
  align-items: center;
}
.banner-part-content h1 {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.banner-part-details .italic-font {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7.12rem;
}

.banner-part-details {
  max-width: 520px;
}
.banner-part-image {
  position: relative;
}
.banner-part-image img {
  width: 100%;
  height: 100vh;
}

.banner-part-image h3 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.banner-part-image .banner-video,
.banner-tutorial {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  padding: 10px 15px;
}
.banner-part-image .banner-video {
  top: 12%;
  right: 8px;
}
.banner-part-image .banner-tutorial {
  bottom: 10%;
  left: 0px;
  align-items: center;
}
.banner-part-image .banner-tutorial .round {
  width: 50px;
  height: 50px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
  margin-right: 20px;
}

/* habit-part styles */
#habit-part {
  margin: 100px 0;
}
.habit-part-tittle {
  max-width: 670px;
  margin: 30px auto;
  text-align: center;
}
.habit-part-image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.habit-part-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
}
.excercise-details {
  text-align: center;
  margin-top: 20px;
}
/* About-part-styles */
#about-part {
  background-color: #222222;
  padding: 30px 20px;
}
.about-part-content {
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.about-part-details {
  width: 40%;
  padding: 30px 40px;
  margin-right: 50px;
}
.running-picture {
  width: 60%;
}
.running-picture img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
/* BMI-part-style */
#BMI-part {
  background: rgb(34, 34, 34);
  padding: 30px 0;
}
.bmi-calculate-part {
  justify-content: space-between;
  align-items: center;
}
.bmi-tittle {
  max-width: 670px;
  margin: 40px auto;
}
.bmi-chart {
  max-width: 50%;
  margin-right: 20px;
}

.bmi-chart table,
th {
  color: #ffffff;
  border: 1px solid #ffffff80;
  border-collapse: collapse;
  padding: 10px 30px;
}

.bmi-chart table,
tr,
td {
  border: 1px solid #ffffff80;
  border-collapse: collapse;
  color: #ffffff80;
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  padding: 15px 50px;
}
.bmi-measure {
  max-width: 50%;
  text-align: left;
}
.bmi-measure input {
  border-radius: 8px;
  padding: 12px 30px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  gap: 10px;
  margin-bottom: 10px;
}
.activity {
  display: block;
  padding: 12px 50px;
}

/* team-part-styles */
#team-part {
  margin: 50px 0;
}
.team-part-tittle {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
}
.team-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 20px;
}

.trainer {
  position: relative;
}
.team-gallery .trainer .image {
  width: 100%;
  height: 100%;
}
.team-gallery .trainer .image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}
.traner-name {
  position: absolute;
  bottom: 30px;
  left: 10px;
  z-index: 999;
  background: transparent;
}
.traner-name span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.5px;
}
/* improvement-part */
.improvement-tittle {
  max-width: 670px;
  margin: 10px auto;
  text-align: center;
}
.improvement-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.improvement-card {
  border-left: 2px solid red;
  border-radius: 18px;
  background: rgb(34, 34, 34);
  padding: 10px 20px;
}
.improve-icon {
  color: #ffffff;
  font-size: 2.5rem;
}
.improvement-card h5 {
  margin-top: 10px;
}
/* footer-part */

.footer-content {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  gap: 20px;
  margin: 50px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding: 65px 0;
}
.footer-content h4 {
  color: rgb(255, 255, 255);

  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
}
.footer-content ul li {
  margin: 10px 0;
}
.footer-content ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
footer .right-part {
  margin: 50px 0;
  text-align: center;
}
footer .right-part span {
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
/* mobile screen responsive */
@media screen and (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
    line-height: 18px;
    letter-spacing: 1px;
  }
  p {
    line-height: 15px;
    margin: 10px 0;
    text-align: center;
  }
  .btn {
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    margin: 20px 0px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 10%;
    right: -100%;
    z-index: 100;
    background-color: #222222;
    transition: all 0.15s ease-in-out;
  }
  .open-menu,
  .close-menu {
    display: block;
    color: #ffffff;
  }
  .menu li {
    margin-top: 40px;
  }
  .menu li a {
    padding: 10px;
  }

  #check:checked ~ .menu {
    right: 0%;
  }
  /* banner-part-responsive */
  .banner-btn {
    justify-content: space-around;
    align-items: center;
    gap: 30px;
  }
  .banner-part-content h1 {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 90%;
    text-align: center;
  }

  .banner-part-content {
    flex-direction: column;
    width: 100%;
  }

  .banner-part-image .banner-video,
  .banner-tutorial {
    padding: 10px 5px;
  }
  .banner-part-image .banner-video {
    top: 36%;
    right: 10px;
  }
  .banner-part-image .banner-tutorial {
    left: 10px;
  }
  .banner-part-image .banner-tutorial .round {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  /* habit-part-responsive */
  .habit-part-image {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  /* about-part */
  .about-part-content {
    flex-direction: column;
  }
  .about-part-details {
    width: 100%;
    padding: 20px 10px;
    margin-right: 0px;
    text-align: center;
  }
  .running-picture {
    width: 100%;
  }
  /* bmi-part */
  .bmi-tittle {
    text-align: center;
  }
  .bmi-chart {
    text-align: center;
  }
  table {
    width: 100%;
  }
  .bmi-calculation-tittle {
    text-align: center;
    margin: 20px 0;
  }
  .bmi-calculate-part {
    flex-direction: column;
  }
  /* team-part */
  .team-gallery {
    grid-template-columns: 1fr;
  }
  /* improvement-card */
  .improvement-cards {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .improvement-card {
    margin-left: 10px;
    width: 100%;
  }
  /* footer-part */
  .footer-content {
    text-align: center;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 10px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding: 35px 0;
  }
}
